.content
  margin-left: 63px

.App
  background-color: #212529
  height: 100vh
  color: white

.workers
  margin: 0
  padding: 0
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 30px
a
  text-decoration: none
  color: #39f